# Import Data from SQL

In [3]:
import pandas as pd
import sqlalchemy

In [4]:
#creating a connection
#mysql+mysqlconnector://username:password@server/database_name
conn = sqlalchemy.create_engine('mysql+mysqlconnector://root:steafen9997@localhost/august')

In [5]:
df = pd.read_sql("select * from customers",conn)
df

   ID   Name           Email Gender         DOB
0   1  Anshu  nobody@xyz.com   Male  1995-04-01
1   2   John    john@xyz.com   Male  2000-05-05
2   3  Marco   marco@xyz.com   Male  1981-04-01

# Storing Data to SQL table using pandas

In [6]:
#Loading data from webpage
df_list = pd.read_html("https://coinmarketcap.com/currencies/bitcoin/historical-data/")
len(df_list)

4

In [7]:
df = df_list[2]

In [10]:
# exporting data to sql database table using pandas
df.to_sql(con = conn, name = "bitcoin_data",if_exists='replace',index=False)